# {{ ansible_managed }}
{{ item.name | mandatory }} {{ item.hosts | default(['ALL']) | join(',') }}=({{ item.asusers | default(['ALL']) | join(',') }}) {{ "NOPASSWD:" if item.nopasswd else "" }}{{ item.commands | default(['ALL']) | join(',') }}
